* {
        font-family: Lato, sans-serif;        
}

h1 {
        margin-top: 1em;
        text-align: center;
        background: linear-gradient(to right, #ffbb55, #aa11ff);
        background-clip: text;
        color: transparent;
}
.result-count {
        font-size: small;
        color: #888;
        text-align: center;
}
